{% extends 'generales/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Productos</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ product.imageURL }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}</p>
                        <button class="btn btn-primary update-cart" data-product="{{ product.id }}" data-action="add">Agregar al carrito</button>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay productos en esta categoría.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}